streamlit
python-dotenv
faster-whisper
google-genai
pydantic>=2
nltk
chromadb
fastapi
uvicorn
python-multipart
reportlab
pytest
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
requests
